*{
    text-align:center;
    margin:0px;
    padding:0px;
}
img{
    width:500px;
    height:auto;
    border-radius:1000px;
    color:white;
    background-color:#839838;
}
body{
    background-color:white;
    font-family:arial;
    font-size:25px;
    color:black;
}